textarea {
    width: 100%;
    height: 60%;
    padding: 10px;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}

#main_panel {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
}
