body {
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    background-color: rgb(17, 24, 24);
}
h1 {
    color: turquoise;
    text-align: center;
    font-size: 60;
}
p {
    color: white;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.main {
    margin: auto;
    width: 50%;
}